<h2>Ingredients</h2>
<mat-list>
  <mat-list-item *ngFor="let ingredient of ingredients">
    <div matLine  >  
      <a routerLink="/ingredient/{{ingredient._id}}">{{ingredient.name}}</a>&nbsp;
      <i>calories: {{ingredient.calories}} kcal, 
          proteins: {{ingredient.protein}}
          carbs: {{ingredient.carbs}}
          fat: {{ingredient.fat}}
      </i>  
    </div>
    <button mat-icon-button class="btn btn-danger" title="delete ingredient"
      (click)="delete(ingredient)">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
<a mat-raised-button routerLink="/ingredient/-1" routerLinkActive="active">Add</a>