<div>
    <form [formGroup]="recipeForm">
        <mat-form-field>
            <input type="text" placeholder="Name" class="form-control" matInput formControlName="name">
        </mat-form-field>
        <h2>Ingredients</h2>
        <div formArrayName="ingredients">
            <div *ngFor="let ingredient of ingredients.controls" >
              <div [formGroup]="ingredient">
                <mat-form-field>
                  <mat-select formControlName="ingredient">
                    <mat-option *ngFor="let ingredientOption of ingredientList | async" [value]="ingredientOption._id">
                      {{ ingredientOption.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" placeholder="Amount" formControlName="amount">
                </mat-form-field>
                
                <app-ingredient-units 
                  [ingredientId]="ingredient.get('ingredient').value"
                  formControlName="unit"
                ></app-ingredient-units>
              </div>
              <button mat-button color="primary" (click)="removeIngredient(ingredient)">-</button>
            </div>
            <button mat-button color="primary" (click)="addIngredient()">+</button>
        </div>
        <input type="hidden" formControlName="_id">
        <div>
          <button mat-button color="primary" (click)="save()">save</button>
          <button mat-button color="primary" (click)="goBack()">go back</button>
        </div>
    </form>
  </div>