<header class="app-header">
  <nav>
    <div class="button-row">
        <a mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a mat-button routerLink="/ingredients" routerLinkActive="active">Ingredients</a>
        <a mat-button routerLink="/recipe" routerLinkActive="active">Recipes</a>
        <a mat-button routerLink="/meal" routerLinkActive="active">Meals</a>
    </div>   
  </nav>
</header>
<div class="app-container">
  <router-outlet></router-outlet>
</div>